/* Style the navbar */
body{
    background-color: burlywood;
}


body, html {
  height: 100%;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  }
  
  * {
  box-sizing: border-box;
  }
  
  
  .bg-image1 {
    /* Full height */
    height: 80%;
    
    
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    }
  
    .bg-image2 {
        /* Full height */
        height: 100%;
        /* Center and scale the image nicely */
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        
        }
  
  
        .bg-image3 {
          /* Full height */
          height: 80%;
          
          
          /* Center and scale the image nicely */
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover;
          }
    
    /* Images used */
    
    .img2 { background-image: url("../images/nailpic2.jpeg"); }
    .img1 { background-image: url("../images/pink1.png"); }
    .img3 { background-image: url("../images/pink2.webp"); }
  
    .containerdiv { float: left; position: relative; } 
    .cornerimage { position: absolute; top: 0; right: 0; }
  
  
  
    .top-text {
      text-align: left;
      position: absolute;
      top: 23%;
      left: 30%;
      transform: translate(-50%, -50%);
      color: black;
      font-size: 220px;
      font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

      
    }
    .bottom-text {
      text-align: left;
      position: absolute;
      top: 60%;
      left: 32%;
      transform: translate(-50%, -50%);
      color: black;
      font-size: 22px;
      font-family: "Sigmar One";
    }
  
  
    .top-text1 {
      text-align: left;
      position: absolute;
      top: 117%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: white;
      font-size: 500px;
      font-family:Arial, Helvetica, sans-serif;
    
      
    }
    .bottom-text1 {
      text-align: left;
      position: absolute;
      top: 150%;
      left: 65%;
      transform: translate(-50%, -50%);
      color: white;
      font-size: 20px;
      font-family: 'Games', sans-serif;
    }
  
   
    .top-text3 {
      text-align: left;
      position: absolute;
      top: 200%;
      left: 25%;
      transform: translate(-50%, -50%);
      color: black;
      font-size: 500px;
      font-family:Verdana, Geneva, Tahoma, sans-serif;
    
      
    }
    .bottom-text3 {
      text-align: left;
      position: absolute;
      top: 230%;
      left: 35%;
      transform: translate(-50%, -50%);
      color: black;
      font-size: 20px;
      font-family: 'Games', sans-serif;
    }



















#navbar {
    overflow: hidden;
    background-color: white;
  }

.logo{
  max-width: 10%;  
  height: auto;  
  display: block; 
}
  
  /* Navbar links */
  #navbar a {
    float: left;
    display:block;
    color: black;
    text-align: center;
    padding: 14px;
    text-decoration: none;
    
  }
  
  /* Page content */
  .content {
    padding: 16px;
  }
  
  /* The sticky class is added to the navbar with JS when it reaches its scroll position */
  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }
  
  /* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
  .sticky + .content {
    padding-top: 60px;
  }

