#navbar {
  overflow: hidden;
  background-color: white;
}

.logo {
  max-width: 15%;
  height: auto;
  display: block;
  padding: 1rem;
}

/* Navbar links */
#navbar a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}

/* Page content */
.content {
  padding: 16px;
}

/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

/* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
.sticky+.content {
  padding-top: 60px;
}

body {
  overflow-x: hidden;
  /* What could you use to center the content in the body easily? */
  justify-items: center;
  /* margin: 20px; */
  /* background-color: burlywood; */
}

.grid-cont {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 5px;
  grid-row-gap: 5px;
}

.img-cont img {
  width: 100%;
  height: 100%;
}
/* Hovering over image with scale and fading settings set */
.img-cont:hover {
  transform: scale(1.25);
  /* (125% zoom) */
      -webkit-filter: brightness(40%);
      -webkit-transition: all 1s ease;
      -moz-transition: all 1s ease;
      -o-transition: all 1s ease;
      -ms-transition: all 1s ease;
      transition: all 1s ease;
  }

  /* Text that appears once hovered */
  .hovercap {
    /* (C1) DIMENSIONS */
    width: 100%;
    padding: 20px;
    font-size: 50px;
   
    /* (C2) PLACE AT CENTER */
    position:absolute;
    z-index: 1;    
    left: 50%;
    top: 40%;
    margin:-100px 0 0 -100px;  
    width:200px;  
    height:200px;  

   
    /* (C3) COLORS */
    background-color: transparent;
    color: black;
  }
  .hovercap {
    visibility: none; opacity: 0;
    transition: opacity 0.3s;
  }
  .img-cont:hover .hovercap {
    visibility: visible; opacity: 1;
  }

/********* For Booking Page ***************/
.booking-heading {
  text-align: center;
  margin-bottom: 3rem;
}

.bookingBody {
  font-family: "Ubuntu", sans-serif;
  color: #fff;
  letter-spacing: 1px;
}

.booking-container {
  background-color: #fafafa;
  box-shadow: 10px 15px 20px rgba(0, 0, 0, 0.1);
  margin: 20px;
  background-color: rgb(255, 255, 255);
  padding: 2rem;
}

.container-time {
  background-color: black;
  padding: 5rem;
  outline: 3px dashed #998100;
  outline-offset: -30px;
  text-align: center;
}

.heading {
  font-size: 2rem;
  text-transform: uppercase;
  margin-top: 6rem;
}

.heading-form {
  text-align: center;
  margin-bottom: 3rem;
}

.heading-days {
  color: #998100;
  font-size: 2rem;
}

.heading-phone {
  font-size: 1.5rem;
}

/* form styles  */

.container-form {
  padding: 5rem;
  margin: 0 auto;
  color: black;
}

.form-group {
  padding: 1rem;
}

.input-group-text {
  height: 3rem;
}

/******* Bootstrap Navbar *************/
.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-family: 'Ubuntu', sans-serif;
  font-size: 1.2rem;
}

.content {
  background-color: burlywood;
  border: 3rem solid burlywood;

}

.active {
  text-decoration: 2px underline burlywood;
  /* background-color: burlywood; */
}

.footer-image {
  width: 20%;
}

footer {
  text-align: center;

}